* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5eff400;
    z-index: 1000;
    transition: background-color 0.3s;
}
header.rolagem{
    background-color:#ffeedf;
    padding: 5px 4%;
}
header.rolagem a{
    color: #000;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header ul li{
    margin: 0px 20px;
} 
header ul li a {
    color: #0f0f0f;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: background-color 0.3s;
}
header ul li a:hover {
    background-color: #ffddce;
    border-radius: 6px;
}
.Conteiner {
    max-width: 1280px;
    margin: auto;
    padding: 0 15px;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#imagemlogo {
    height: 50px;
    width: 50px;
}
.banner{
    height: 100vh;
    background: url(/belezas_japao/imagens/monte_fuji/fuji_lido.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner h1 {
    font-size: 3em;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.img-text{
    background-color: #ffddce;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}
.img-text div{
    flex: 1;
    padding: 0 20px;
    
}
.img-img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 40px 40px 20px;
}

.img-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px; 
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
}
.texto3 p {
    border-radius: 10px;
    font-size: 1.2em;
    text-align: justify;
    margin: 10px 60px 10px 0px; 
}
.cards-section {
    background-color: #e6b1a79c;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.card {
    margin:70px 10px 70px 10px;
    background-color: #ffddce;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}
.card {
    max-width: 300px;
    text-align: center;
}

.card img {
    margin: 5px 5px 5px 5px;
    max-width: 96%;
    height: auto;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
}

.card h3 {
    font-size: 1.5em;
    color: #000000;
    margin: 15px 0;
    padding-top: 15px;
    color: #000000;
}

.card p {
    font-size: 0.9em;
    line-height: 1.6;
    padding: 20px;
    text-align: justify;
}
.card:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.8);
    position: relative;
    top: -50px;
}
.card-icon img {
    width: 100%;
    height: 10%;
    object-fit: cover;
    border-top-left-radius: 8px;
}
.saiba-mais {
    background-color: #ce8aa68f;
    color: #0a0a0a;
    border-radius:  8px;
    padding: 10px 20px;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: bold; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.22);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.saiba-mais:hover {
    background-color: #6e5368be;
    transform: scale(1.05);
}

.saiba-mais:active {
    background-color: #6e5368f1; 
    transform: scale(0.98);
}
#conhecer {
    background-color: #e4b0a675;
    height: 30vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin: 0px 20px; 
    padding: 20px 20px;
}

.text-btn span {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}

.btn {
    background-color:  rgba(184, 111, 113, 0.85);
    color: #ffffff;
    font-size: 18px; 
    padding: 20px 24px; 
    border: none; 
    border-radius: 8px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.btn:hover {
    background-color: rgba(161, 95, 95, 0.85); 
    transform: scale(1.05); 
}

.btn:active {
    background-color: #e03e1f;
    transform: scale(0.98); 
}


/*2° pagina*/


main {
    background-color: #ffaa9c;
}
.banner1{
    height: 100vh;
    background: url(/belezas_japao/imagens/monte_fuji/monte.webp) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner1 h1 {
    font-size: 3em;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.img-containerT {
    background-color:#ffeedf;
    margin: 0 60px 60px 60px ;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}
.img-containerT img ,.img-container2 img{
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px; 
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
    margin: 30px 50px 30px 50px;
}
.img-container2{
    background-color:#ffeedf;
    margin: 0 60px 0 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}
.img-container1{
    background-color:#ffeedf;
    margin: 0 60px 60px 60px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}

.img-containerT div,.img-container2 div {
    flex: 1;
}
.primeira{
    text-align: justify;
    margin: 20px 20px
    20px 20px;
    padding: 50px 60px 50px 60px;
}
.primeira h2 {
    text-align: center;
    margin-bottom: 50px;
}
.img_outono {
    margin-left: 90px;
}

.banner2{
    height: 80vh;
    background: url(/belezas_japao/imagens/guia_completo.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}
footer {
    width: 100%;
    height: 20vh;
    background-color: #d88e83;
    text-align: center;
    padding: 10px;
    color: #fff;
}



/*pg3*/
.main3 {
    background-color: #ffccbd;
}
.destaques{
    background-color: #e6b1a79c;
    padding: 20px;
   
}
.destaques h2 {
    font-size: xx-large;
    text-align: center;
    padding: 30px 0 30px 0;

}
.lugares {
    display: flex;
    gap: 50px;
    justify-content: center;
}
.img-lugar:hover {
    transform: translateY(-10px);
    transform: scale(1.05);
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.8);
    position: relative;
    top: -50px;
}
.img-lugar{
    margin:50px 10px 50px 10px;
    background-color: #ffddce;
    width: 30%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);   
}
.img-lugar img {
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    height: 250px;
    width: 100%;
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
}

.map-section iframe {
    height: 400px;
    border: none;
}
.contato form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

section.contato button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}


@media screen and (max-width:1330px){
    .form-image {
        display: none;
    }
    .conteiner-feed {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}
@media screen and (max-width: 1064px){
    .conteiner-feed {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
    .genero-input {
        margin-top: 2rem;
    }
    .genero-grup {
        flex-direction: column;
    }
    .genero-input {
        margin-top: 0.5rem;
    }
}

.fa-brands{
    color: #000;
}

.fa-square-instagram{
    padding-left: 12px;
    padding-right: 12px;
}
.fa-square-github{
    padding-left: 12px;
}

.img-img {
    overflow: hidden;
    display: inline-block;
}

#imagem-jp {
transition: transform 0.3s ease;
width: 300px;
height: 300px;
object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    max-width: 400px;
    width: 90%;
  }
  
  .modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .modal-content .close:hover {
    color: red;
  }
  
.carousel-container {
    background-color: #e6b1a79c;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; 
    width: 80%; 
    margin: auto;
    padding:50px 20px 50px 20px;
}


.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out; 
    gap: 20px; 
}


.div-video {
    min-width: 560px; 
    max-width: 560px; 
}


.carousel-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-btn.prev {
    left: 0;
}

.carousel-btn.next {
    right: 0;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#carousel-container {
    background-color: rgba(223, 168, 170, 0.886);;
}

#form{
    height: 100vh;
    background: url(/belezas_japao/imagens/imgformulario.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
}

#form-feedback{
    width: 500px;
}
.feedback-form {
    background-color:rgb(255, 209, 211);;
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);

}
.feedback-form h2 {
    text-align: center;
    margin-bottom: 20px;
}
.feedback-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.feedback-form input, .feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #886666;
    border-radius: 4px;
    font-size: 14px;
}
.feedback-form button {
    width: 100%;
    padding: 10px;
    background-color:  rgba(226, 139, 142, 0.85); 
    color: #000000;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.feedback-form button:hover {
    background-color: rgb(221, 166, 167);
}
.error {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
#map {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    
  }

#galeria {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-5);
    color: #333;
}

h1.titulo {
    text-align: center;
    padding: 20px 0;
    font-size: 2.5rem;
    margin: 0;
}

.carrossel {
    padding: 20px;
    text-align: center;
}

.imagens-container {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 300px;
    margin: 20px auto;
}

.carrossel-imagens {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.imagem-carrossel {
    width: 100%;
    max-width: 300px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin: 0 5px;
}

.imagem-carrossel:hover {
    transform: scale(1.1);
    z-index: 1;
}

.botao {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 1.5rem;
}

#anterior {
    left: 10px;
}

#proximo {
    right: 10px;
}

.descricao {
    padding: 20px;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
}

/**/

#galeria {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    flex-direction: column;
}

.carousel-container-galeria {
    position: relative;
    width: 80%;
    overflow: hidden;
    height: 300px;
    margin: 0 auto; /* Centraliza horizontalmente */
    justify-content: center;
    align-items: center;
    display: flex;
}

.carousel-galeria {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 10px;
}

.carousel-item-galeria {
    min-width: 33.33%;
    box-sizing: border-box;
    height: 100%; /* Ocupa toda a altura do contêiner */
    background-color: #fff; /* Para realçar as margens visivelmente */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.carousel-item-galeria:last-child {
    margin-right: 0; /* Remove o espaço no último item para alinhar */
}

.carousel-item-galeria img {
    width: 100%;
    height: 100%; /* Faz a imagem preencher todo o item */
    object-fit: cover; /* Ajusta a imagem sem distorção */
    display: block;
    transition: transform 0.3s ease-in-out; /* Suaviza o efeito de transformação */
}

.carousel-item-galeria img:hover {
    transform: scale(1.2); /* Aumenta a imagem em 20% */
}

.carousel-btn-galeria {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
}

.prev-btn-galeria {
    left: 10px;
}

.next-btn-galeria {
    right: 10px;
}

.carousel-btn-galeria:focus {
    outline: none;
}

#footer-container{
    display: block;
    width: 100%;
}

#bd{
    height: 100vh;
}

.g-banner {

    height: 100vh;
    background: url(/belezas_japao/imagens/img_galeria/curiosidade.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.g-banner  h1 {
    font-size: 3em;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.gl-texto {
    background-color:#ffeedf;
    margin: 0 60px 60px 60px ;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}
.gl-texto div {
    flex: 1;
}
.gl-texto1 {
    text-align: justify;
    margin: 20px 20px
    20px 20px;
    padding: 50px 60px 50px 60px;
}
.gl-texto1 h2{
    text-align: center;
    margin-bottom: 50px;
}
.gl-texto1 h3 {
    text-align: center;
    margin-bottom: 50px;
}
.gl-texto-img {
    background-color:#ffeedf;
    margin: 0 60px 60px 60px ;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
}
.gl-texto-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px; 
    box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
    margin: 30px 50px 30px 50px;
}
.gl-texto-img div {
    flex: 1;
}
.gl-texto-img2 {
    text-align: justify;
    margin: 20px 20px
    20px 20px;
    padding: 50px 60px 50px 60px;
}
.gl-texto-img2 h2 {
    text-align: center;
    margin-bottom: 50px;
}
.gl-texto-img1 h3 {
    text-align: center;
    margin-bottom: 50px;
}
#glT {
    background-color: #ffaa9c; 
}
.social-media h4 {
    padding-bottom: 10px;
    padding-top: 10px;
}
#titulodesc{
    padding: 12px;
}